<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="/">Acceuil</a>
        <a href="/register">S'enregistrer</a>
        {% if not app.user %}
            <a href="/login">Login</a>
        {% else %}
        <a href="/logout">Logout</a>
            
        {% endif %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
